<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CodecoolShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cart}" th:text="'Cart '+ ${totalNumberOfItems} + ' items'" style="color:greenyellow"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}" th:text="SignUp" style="color:greenyellow"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}" th:text="Login" style="color:greenyellow"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:text="Logout" style="color:greenyellow"></a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Pricing</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--            </li>-->
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>


<!-- select one category-->
<div class="container">
<!--    <div class="card">-->
<!--        <h5>Categories</h5>-->
<!--        <a href="index.html?category=1">Tablets</a>-->
<!--        <a href="index.html?category=2">Smartwatches</a>-->

<!--    <div class="card">-->
<!--        <h5>Suppliers</h5>-->
<!--        <a href="index.html?supplier=1">Amazon</a>-->
<!--        <a href="index.html?supplier=2">Lenovo</a>-->
<!--        <a href="index.html?supplier=3">Ebay</a>-->

        <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html?category=1">Tablets</a>
                <a class="dropdown-item" href="index.html?category=2">Smartwatches</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button">
                Suppliers
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html?supplier=1">Amazon</a>
                <a class="dropdown-item" href="index.html?supplier=2">Lenovo</a>
                <a class="dropdown-item" href="index.html?supplier=3">Ebay</a>
            </div>
        </div>
        <br>
<!--    </div>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->

<!--<div class="container-fluid">-->
<!--        <div class="card">-->
<!--            <strong th:text="${category.name}"></strong>-->
<!--        </div>-->
<!--        <br>-->

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card bg-light mb-3">
                <img class="responsive" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/' + ${prod.image}" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}"></h4>
                    <p class="card-text" th:text="${prod.description}"></p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}"></p>
                    </div>
                    <div class="card-text">
                        <form method="post"
                            action="/cart">
                            <input type="hidden" name="addToCart" th:value="${prod.getId()}">
                            <input type="submit" class="btn btn-success" value="Add to cart">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>