<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="header_area" th:fragment="navbar">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index.html"><img src="/static/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item active submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/shop">Shop By Category</a></li>
                                <li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Account</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/login}" th:text="*{username}? '':'Login'"></a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" th:text="*{username}? 'Logout':''"></a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/registration}" th:text="*{username}? '':'Register'"></a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/user-profile}" th:text="*{username}? 'User Profile':''"></a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>


                    <ul class="nav-shop">
                        <li class="nav-item" th:text="*{username}?'' + ${username}:''" ></li>

                        <li class="nav-item">

                            <button onclick="location.href='/cart'"><i class="ti-shopping-cart"></i><span class="nav-shop__circle" th:text="${totalNumberOfItems}"></span></button>

                        </li>
                        <li class="nav-item"><a class="button button-header" href="/cart">Buy Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
</body>
</html>