<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }
        .jumbotron{
            background: white;
        }
    </style>
</head>

<body>


<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
        <h1 class="display-4">Congratulations ! </h1>
        <p class="lead">Your order has been placed. We are glad that you found what you
            were looking for and we look forward to seeing you again. Have a great day!
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="http://localhost:8888/" role="button">Back to homepage</a>
        </p>
    </div>
</div>

<script src="/static/js/confetti.js"></script>

</body>
</html>